name = "to-us-from-us"
compatibility_date = "2023-07-17"
compatibility_flags = [ "nodejs_compat" ]
r2_buckets = [
  { binding = "R2", bucket_name = "R2" }
]

[vars]
SANITY_STUDIO_PROJECT_ID=""
SANITY_STUDIO_DATASET=""
SANITY_STUDIO_API_VERSION=""
SANITY_STUDIO_ENABLED=""
SANITY_PREVIEW_SECRET=""
SANITY_API_READ_TOKEN=""
SANITY_PRODUCTION_URL=""
CLOUDFLARE_ZONE_ID=""
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_R2_BUCKET_NAME=""
CLOUDFLARE_R2_ACCESS_KEY_ID=""
CLOUDFLARE_R2_SECRET_ACCESS_KEY=""
CLOUDFLARE_PURGE_API_TOKEN=""
IS_PREVIEW_ENV=""
