html,
body {
  position: relative;
  background-color: var(--clr-bg);
  width: 100%;
  scroll-behavior: smooth;
  color: var(--clr-fg);
  font-family: var(--font-sans);
}

* {
  overflow-wrap: break-word;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100svh;
  overflow-x: clip;
  /* Firefox */
  -ms-overflow-style: none;
  background-color: var(--clr-bg);
  font-size: 1.3rem;

  /* IE 10+ */
  &::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
    height: 0px;
  }
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--page-padding);
}

:target {
  scroll-padding-top: 100px;
}

::selection {
  background-color: var(--clr-hl);
  // color: var(--clr-bg);
}

button:focus,
:focus-visible {
  outline: 1px dotted var(--clr-fg2);
  outline-offset: 7px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE 10+ */
  &::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
    height: 0px;
  }
}

.minimal-horizontal-scrollbar {
  scrollbar-color: var(--clr-fg);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    cursor: pointer;
    background: transparent;
    inline-size: 100%;
    block-size: 1rem;
    overflow: visible;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-block-end: 1px solid var(--clr-bg2);
    background-color: transparent;
  }
}

.sr-only:not(:focus):not(:active),
.skip-link:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

img[data-loading="true"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  width: 10px !important;
  height: 10px !important;
  pointer-events: none;
  user-select: none;
}
