// A modified version of my "modern reset" https://github.com/hankchizljaw/modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul:where([class]),
ol:where([class]) {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul:where([class]),
ol:where([class]),
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition-delay: 0 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}

[data-animation-preset="reduced"] * {
  animation-play-state: paused !important;
  transition-delay: 0 !important;
  transition-duration: 0.01s !important;
  scroll-behavior: auto !important;
}

button {
  -webkit-font-smoothing: inherit;
  appearance: none;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  overflow: visible;
  font: inherit;
  letter-spacing: inherit;
}

legend {
  display: table;
  padding: 0;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0.01em 0 0 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
