---
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <article>
    <h1>404</h1>
    <p>Page not found!</p>
    <a href="/"><strong>Return home?</strong></a>
  </article>
</RootLayout>

<style lang="scss">
  article {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
</style>
