---
import RootLayout from "@/layouts/RootLayout.astro";
---

<RootLayout>
  <article>
    <h1>404</h1>
    <p>Page not found.</p>
    <p><a href="/">↖ Return home</a></p>
  </article>
</RootLayout>

<style lang="scss">
  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    & h1 {
      margin-bottom: -1rem;
      font-size: 5rem;
    }

    & p:last-child {
      margin-block-start: 3rem;
    }
  }
</style>
